<!DOCTYPE html>
<html>
<head>
  <title>TrainerPlugin</title>
  <%= stylesheet_link_tag    "trainer_plugin/application", media: "all" %>
  <%= javascript_include_tag "trainer_plugin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
